.form {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px 10px;
  margin-bottom: 26px;
  border: 1px solid silver;
}
.label {
  font-size: 20px;
}
.input {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid darkgrey;
  outline: none;
  padding: 3px 6px;
  transition: all 0.2s ease;
}

.input:focus {
  box-shadow: 0 1px darkgray;
}
